.s-steps
  padding: 160px 0 20px
  background:
    repeat: no-repeat
    position: center
    size: cover
  overflow: hidden
  +r(1200)
    padding: 100px 0 50px
  +r(767)
    padding: 60px 0 10px
  .container
    position: relative
  .section-title
    position: absolute
    top: -80px
    left: 15px
    font-size: 42px
    max-width: 620px
    padding-left: 40px
    +r(1500)
      font-size: 32px
      top: -50px
    +r(1200)
      position: static
      top: auto
      left: auto
      margin-bottom: 70px
      max-width: none
      padding-left: 0
    +r(767)
      font-size: 28px

.steps
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding: 0 40px 0 120px
  +r(1200)
    padding: 0 20px
  &::before
    content: ''
    position: absolute
    top: 0
    left: 40px
    right: 40px
    width: 1360px
    height: 600px
    background: url(images/general/line.svg) no-repeat center top / contain
    +r(1500)
      width: 1130px
    +r(1200)
      display: none
  &__item
    position: relative
    width: calc((100% / 3) - 40px)
    flex-grow: 1
    padding: 63px 0 80px
    +r(1500)
      padding: 40px 0 52px
    +r(1200)
      width: calc((100% / 2) - 40px)
      flex-grow: 0
      border-top: 2px solid $accent
      padding: 15px 0 50px 25px
    +r(992)
      width: calc((100% / 2) - 20px)
    +r(767)
      width: auto
      padding-left: 10px
    p
      &:last-child
        margin-bottom: 0
    strong
      font-size: 20px
      color: $accent
    &:nth-child(1)
      order: 1
      max-width: 520px
      margin-left: calc((100% / 2) - 20px)
      padding-left: 50px
      +r(1200)
        margin: 0
        padding-left: 25px
        max-width: none
      +r(767)
        padding-left: 10px
    &:nth-child(2)
      order: 4
      max-width: 400px
      +r(1500)
        max-width: 360px
      +r(1200)
        order: 2
        max-width: none
    &:nth-child(3)
      order: 3
      max-width: 360px
      +r(1500)
        max-width: 320px
      +r(1200)
        max-width: none
    &:nth-child(4)
      order: 2
      max-width: 280px
      +r(1500)
        max-width: 270px
      +r(1200)
        order: 4
        max-width: none
    &:nth-child(5)
      order: 5
      max-width: 440px
      +r(1500)
        max-width: 310px
      +r(1200)
        max-width: none
    &:nth-child(6)
      order: 6
      max-width: 360px
      +r(1500)
        max-width: 300px
      +r(1200)
        max-width: none
    &:nth-child(7)
      order: 7
      max-width: 320px
      +r(1500)
        max-width: 250px
      +r(1200)
        max-width: none
  &__number
    position: absolute
    top: -20px
    left: -20px
    width: 40px
    height: 40px
    border: 2px solid $accent
    box-shadow: 0 0 25px rgba(255, 139, 0, 0.5)
    transform: rotate(45deg)
    background-color: #111D33
    font-size: 24px
    font-weight: 600
    color: #fff
    text-align: center
    +r(767)
      top: -16px
      left: -15px
      font-size: 16px
      width: 30px
      height: 30px
    span
      display: block
      transform: rotate(-45deg)
